html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
        font-family: "bananas-variable", sans-serif;
        background-color: #161726;
}
.top {
    list-style: none;
    color:#000000;
    font-size: 40px;
    font-weight: 500;
       background-color:#e4c524;
    position: absolute;
    top: 0;
    left:0;
    margin:0 0 0;
 text-align:left;
     width:50%;
     padding: 10px 0 10px 0;
   text-decoration: none;

}

.right {
    text-align: right;
    color:#000000;
    font-size: 40px;
    font-weight: 500;
       background-color:#e4c524;
    position: absolute;
    top: 0;
    right:0;
    margin:0 0 0 10px;
    width:50%;
    text-align: right;
    width:50%;
     padding: 10px 0 10px 0;
     text-decoration: none;
}
.right:hover {
  color: #297265;
  cursor:pointer;
}

.top:hover {
  color: #297265;
  cursor:pointer;
}

.character {
    font-size: 45pt;
    font-weight: 500;
    text-align:center;
    margin:15px 30px 0 30px;
}
img {
    max-width: 100%;
}

.yellow {
    color: #e4c524;
}
.small {
    font-size: 24px;
    font-weight: 200;
    margin:15px 30px 0 30px;
    z-index:3;
}
.step {
    font-size: 35px;
    font-weight: 400;
    margin:15px 30px 0 30px;
    color:#e4c524;
}
.big {
    font-size: 60pt;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 3pt;
    text-align:center;
    padding:10px 0 10px 0;
}
.circle {
    background-color: #e4c524;
    height:250px;
    width: 250px;
    border-radius: 50%;
    position:relative;
    top: 10px;
    left:25%;
    z-index:1;
}
.tale {
    font-size: 30px;
    font-weight: 200;

    background-color: #161726;
    height:200px;
    width: 200px;
    border-radius: 50%;
    z-index:2;
    font-weight: 200;
    z-index:3;
    position:absolute;
    top: 860px;
    left:80px;
}

/*.eye {
    z-index:3;
    position:absolute;
    top: 960px;
    left:280px;
    background-color: #161726;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.leg-one {
background-color: #e4c524;
    height:80px;
    width: 20px; 
    position:absolute;
    top: 1100px;
    left:280px;
    z-index:4;
}
.leg-two {
background-color: #e4c524;
    height:80px;
    width: 20px; 
    position:absolute;
    top: 1100px;
    left:200px;
    z-index:4;
}
.stem {
background-color: #7a573d;
    height:50px;
    width: 20px;
    position:absolute;
    top: 865px;
    left:200px;
    z-index:2;
    transform:rotate(200deg);
}
.mouth {
     z-index:5;
    position:absolute;
    top: 960px;
    left:350px;
    background-color: #161726;
    height: 45px;
    width: 85px;
        transform:rotate(200deg);
}*/
.eye {
    z-index:3;
    position:absolute;
    top: 960px;
    left:300px;
    background-color: #161726;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.stem {
background-color: #7a573d;
    height:50px;
    width: 20px;
    position:absolute;
    top: 865px;
    left:220px;
    z-index:2;
    transform:rotate(200deg);
}
.nav {
    font-size: 40pt;
    font-weight: 500;
     text-align:center;
     background-color:#e4c524;
     color:#000000;
     position:static;
    bottom:100%;
    width:100%;
    margin: 40px;
    text-decoration: none;
}
.nav:hover {
  color: #297265;
  cursor:pointer;
}